.trimmer {
  display: grid;
  grid-template-areas:
    "Header"
    "Audio"
    "Controls";
  grid-template-rows: 5rem 1fr 6rem;
  height: 100dvh;
}

#player {
  width: 100%;
  position: relative;
}

.at-logo img {
  width: 32px;
}

.at-logo h1 {
  margin-left: 5px;
}

.filename {
  text-overflow: ellipsis;
  max-width: 350px;
  overflow: hidden;
}

#waveform {
  width: 100%;
}

.mt-slider {
  position: absolute !important;
  left: 0;
  top: 0;
  padding: 0 !important;
  height: 100% !important;
  color: #fd8529 !important;
}

.mt-slider .MuiSlider-rail {
  background-color: transparent;
}

.mt-slider .MuiSlider-track {
  background-color: #fcca341e;
  border: 2.5px solid #fcc934;
}

.mt-slider .MuiSlider-thumb {
  background-color: #fcc934;
  width: 18px;
  height: 18px;
}

.play-pause-btn svg {
  font-size: 3rem;
}

.timebar {
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #90caf9;
}

@media screen and (max-width: 425px) {
  .filename {
    max-width: 175px;
  }

  .at-logo h1 {
    display: none;
  }
}
