:root {
  --range-radius: 20px;
  --range-thumb-width: 1.2rem;
}

.trimmer {
  display: grid;
  grid-template-areas:
    "Header"
    "Audio"
    "Controls";
  grid-template-rows: 5rem 1fr 6rem;
  height: 100dvh;
}

#player {
  width: 100%;
  position: relative;
}

#waveform {
  width: 100%;
}

.mt-slider {
  position: absolute !important;
  left: 0;
  top: 0;
  padding: 0 !important;
  height: 100% !important;
  color: #fff !important;
}

.mt-slider .MuiSlider-rail {
  background-color: transparent;
}

.mt-slider .MuiSlider-track {
  background-color: rgb(255 255 255 / 10%);
}

.play-pause-btn svg {
  font-size: 3rem;
}
